<div id="wrapper">
    <h1>ScraperNews</h1>
    <h2><i>Find News, take notes!</i><button id="scrapeButton">Fetch News!</button></h2>
    <h4>(Click an article to save a note)</h4>
    <div id="articles"></div>
    <div id="notes"></div>
</div>
