<div id="wrapper">
    <div id="header">
        <div id="topDiv">
            <h1 id="banner">ScraperNews</h1>
        </div>
        
        <h2 id="subBanner"><i>Find News, take notes!</i><button id="scrapeButton">Fetch News!</button></h2>
        <h5>(Click an article to leave a note)</h5>
    </div>
    <div id="articles"></div>
    <div id="notes">
        <span id="notesInput"> </span>
    </div>
</div>
